<div class="col-md-12">
    <div class="panel panel-danger">
        <div class="panel-body">
            <img src="{{ constant('PATH_URL_IMG') }}publicidad2.PNG" style="height: 516px;" alt="Logo de Couchinn">
        </div>
    </div>    
</div>
<div class="col-md-12">
    <div class="panel panel-danger">
        <div class="panel-body">
            <img src="{{ constant('PATH_URL_IMG') }}publi2.png" style="height: 512px;" alt="Logo de Couchinn">
        </div>
    </div>    
</div>
<div class="col-md-12">
    <div class="panel panel-danger">
        <div class="panel-body">
            <img src="{{ constant('PATH_URL_IMG') }}publicidad4.PNG" style="height: 214px;" alt="Logo de Couchinn">
        </div>
    </div>    
</div>
<div class="col-md-12">
    <div class="panel panel-danger">
        <div class="panel-body">
            <img src="{{ constant('PATH_URL_IMG') }}publi3.png" style="height: 217px;" alt="Logo de Couchinn">
        </div>
    </div>    
</div>