<div class="col-md-12">
    <div class="panel panel-danger">
        <div class="panel-body">
            <img src="{{ constant('PATH_URL_IMG') }}publi4.png" style="height: 516px;" alt="Logo de Couchinn">
        </div>
    </div>    
</div>
<div class="col-md-12">
    <div class="panel panel-danger">
        <div class="panel-body">
            <img src="{{ constant('PATH_URL_IMG') }}publi1.png" style="height: 216px;" alt="Logo de Couchinn">
        </div>
    </div>    
</div>
<div class="col-md-12">
    <div class="panel panel-danger">
        <div class="panel-body">
            <img src="{{ constant('PATH_URL_IMG') }}publi5.png" style="height: 217px;" alt="Logo de Couchinn">
        </div>
    </div>    
</div>
<div class="col-md-12">
    <div class="panel panel-danger">
        <div class="panel-body">
            <img src="{{ constant('PATH_URL_IMG') }}publicidad1.PNG" style="height: 214px;" alt="Logo de Couchinn">
        </div>
    </div>    
</div>